* {
  /* 
  https://www.w3schools.com/css/css3_box-sizing.asp
  https://stackoverflow.com/questions/66225760/can-i-use-box-sizing-border-box-in-universal-selector-every-time
  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */
  box-sizing: border-box;
}

body {
  /* background-image: url('https://images.unsplash.com/photo-1518972734183-c5b490a7c637?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
  background-image: url('pine-tree-with-snow.jpg');

  background-size: cover;
  background-position: center;

  min-height: 100vh;

  /* overflow prevents scrollbar after setting min-height: 100vh; */
  /* overflow: hidden; */

  /* display ALSO prevents scrollbar after setting min-height: 100vh; */
  display: flex;

  font-family: 'Mukta', sans-serif;
  margin: 0;

  /* serif fonts have those decorative lines
  or tapers (also commonly referred to as “tails” or “feet”) while 
  sans serif fonts don't */
  /* font-family added in link tag (index.html) */
  /* How to add font https://youtu.be/dtKciwk_si4?t=152 */
  /* https://stackoverflow.com/questions/12316501/including-google-fonts-link-or-import */
}
